// RENAME THIS FILE TO .env.local TO USE THESE VARIABLES PROPERLY

// Consumet API: Change it to your URL after hosting your own instance of this API.
NEXT_PUBLIC_CONSUMET_API_URL=https://consumet-one-sable.vercel.app
// Aniwatch API: Change it to your URL after hosting your own instance of this API.
NEXT_PUBLIC_ANIWATCH_API_URL=https://hianime-eight.vercel.app

// Anilist OAuth Settings
NEXT_PUBLIC_ANILIST_CLIENT_ID=your-anilist-client-id
ANILIST_CLIENT_SECRET=your-anilist-client-secret

// Next.js Route Handler 
// You can use it with http://localhost:3000 when on DEV mode, YOU WILL NEED TO CHANGE IT when hosting it to its respective url.
// Make sure to add the pathname "/api/animes-database" bellow
NEXT_PUBLIC_NEXT_ROUTE_HANDLER_API=https://url-to-where-your-website-is-hosted.com/api/animes-database

// This is the URL to use ONLY on DEV Enviroment. You WILL NEED TO CHANGE IT when hosting it to its respective url.
// Its used on Next.js API Calls
NEXT_PUBLIC_WEBSITE_ORIGIN_URL=http://localhost:3000

// Firebase Settings
// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyBQT38VMLdd3SxbHjbYkURJ_-cNNfWl_sY",
  authDomain: "animewatch-9bc76.firebaseapp.com",
  projectId: "animewatch-9bc76",
  storageBucket: "animewatch-9bc76.firebasestorage.app",
  messagingSenderId: "1028291054811",
  appId: "1:1028291054811:web:d2c449d19b2e4ff5e650fe",
  measurementId: "G-LX0QLS52F9"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);
// GOOGLE ANALYTICS: optional
NEXT_PUBLIC_MEASUREMENT_ID=your-measurement-id
